# exclude VS Code config
**/.vscode

# exclude generated documentation
site/gen/**

# exclude input files
inputs/**
!inputs/README.md

# exclude rust build output
**/target
**/Cargo.lock

# exclude C++ temporary / build output
**/build
**/.cache
